!!!
%html
  %head
    %title URL Shortener
  %body
    %h1= 'URL Shortener'
    %form{ id: "form-url" }
      %input{ type: "text", id: "field-url" }
      %input{ type: "submit", id: "btn-submit-url", value: "Shorten URL" } 
